altgraph @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
aniso8601==9.0.1
bcrypt==4.1.3
bidict==0.23.1
blinker==1.7.0
boto3==1.28.52
botocore==1.31.52
cachetools==5.3.3
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.0.1
click==8.1.3
contourpy==1.2.1
cryptography==42.0.7
cycler==0.12.1
distlib==0.3.8
filelock==3.13.1
Flask==2.2.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Flask-SocketIO==5.3.6
fonttools==4.51.0
future @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
google-api-core==2.17.1
google-api-python-client==2.122.0
google-auth==2.28.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
gspread==6.0.2
gunicorn==20.1.0
h11==0.14.0
httplib2==0.22.0
idna==3.4
importlib_metadata==7.0.2
importlib_resources==6.4.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jwt==1.3.1
kiwisolver==1.4.5
macholib @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
MarkupSafe==2.1.1
matplotlib==3.8.4
npm==0.1.1
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
optional-django==0.1.0
packaging==24.0
pandas==2.2.1
pillow==10.3.0
pipenv==2023.11.15
platformdirs==4.1.0
protobuf==4.25.3
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.22
pyparsing==3.1.2
python-dateutil==2.8.2
python-engineio==4.9.0
python-socketio==5.11.2
pytz==2022.6
PyYAML==6.0.1
requests==2.28.2
requests-oauthlib==1.4.0
rsa==4.9
s3transfer==0.6.2
simple-websocket==1.0.0
six==1.16.0
StrEnum==0.4.15
tzdata==2024.1
uritemplate==4.1.1
urllib3==1.26.14
virtualenv==20.25.0
Werkzeug==2.2.2
wsproto==1.2.0
zipp==3.17.0
